@page
@model BeSpokedBikes.Pages.ProductStyles.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProductStyle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductStyle.Product_Id" class="control-label"></label>
                <select asp-for="ProductStyle.Product_Id" class ="form-control" asp-items="ViewBag.Product_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductStyle.StyleName" class="control-label"></label>
                <input asp-for="ProductStyle.StyleName" class="form-control" />
                <span asp-validation-for="ProductStyle.StyleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStyle.QuantityOnHand" class="control-label"></label>
                <input asp-for="ProductStyle.QuantityOnHand" class="form-control" />
                <span asp-validation-for="ProductStyle.QuantityOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
