@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BeSpoke Bikes Sales Portal</h1>
    <p>Get this year's quarterly report <a href="/QuarterlyCommissionReport?year=@(DateTime.Now.Year)">@(DateTime.Now.Year) Quarterly Report</a>.</p>
</div>

